{% extends "base/base.html" %}
{% load static %}

{% block title %}Posts{% endblock %}

{% block content %}
{% block navbar %}
{% include "navbars/navbar-post.html" %}
{% endblock navbar %}
<div class="container">
    <div class="row">
        {% if page_obj %}
        {% for post in page_obj %}
        <div class="col-md-4">
            <div class="card mb-4 rounded" style="height: 208.857px; width: 414.857px;">
                <div class="card-body text-center d-flex flex-column justify-content-center post-result-container">
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <h5 class="card-title align-self-center">{{ post.title }}</h5>
                        <p class="card-subtitle mb-1 mt-1 text-muted">Por <a href="{% url 'social' post.author %}"
                                class="social_link">{{ post.author }}</a></p>
                        <h6 class="card-subtitle mb-1 mt-1 text-muted">Escrito hace {{post.publication_date|timesince}}
                        </h6>
                    </div>
                    <a href="{% url 'post-details' post_id=post.id %}" class="btn btn-primary">Ver post</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class=" row">
        <div class="col-md-12">
            {% if is_paginated %}
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Página anterior</a>
            {% endif %}
            <span>Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Página siguiente</a>
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="col-md-12">
        <h2 class="text-center">No hay posts creados</h2>
    </div>
    {% endif %}
</div>
{% endblock %}