{% extends "base/base.html" %}
{% load static %}

{% block title %}Post{% endblock %}

{% block content %}
{% block navbar %}
{% include "navbars/navbar-post.html" %}
{% endblock navbar %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            {% if author.profile_avatar %}
            <img src="{{ author.profile_avatar.url }}" class="rounded-circle" alt="Profile Avatar" width="25%" />
            {% endif %}
            <p class="mt-2">Escrito por {{ author.username }}</p>

            <a href="https://twitter.com/intent/tweet?text=http://{{ request.get_host }}{{ request.path }}"
                class="btn btn-primary btn-sm" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter"
                    viewBox="0 0 16 16">
                    <path
                        d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334q.002-.211-.006-.422A6.7 6.7 0 0 0 16 3.542a6.7 6.7 0 0 1-1.889.518 3.3 3.3 0 0 0 1.447-1.817 6.5 6.5 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.32 9.32 0 0 1-6.767-3.429 3.29 3.29 0 0 0 1.018 4.382A3.3 3.3 0 0 1 .64 6.575v.045a3.29 3.29 0 0 0 2.632 3.218 3.2 3.2 0 0 1-.865.115 3 3 0 0 1-.614-.057 3.28 3.28 0 0 0 3.067 2.277A6.6 6.6 0 0 1 .78 13.58a6 6 0 0 1-.78-.045A9.34 9.34 0 0 0 5.026 15" />
                </svg>
            </a>

            <div class="d-flex justify-content-center align-items-center">
                <div class="text-muted mt-1 col-sm-3" style="padding-left: 10px;">Publicado hace
                    {{ post.publication_date|timesince }}
                </div>
                {% if post.last_update_date %}
                <div class="text-muted mt-1 col-sm-3">Actualizado hace {{post.last_update_date|timesince}} </div>
                {% endif %}
            </div>
            <div class="d-flex justify-content-around align-items-center">
                {% if likes_count is 0 %}
                <p class="text-muted mt-3">Aún no le ha gustado a nadie este post.</p>
                {% else %}
                <p class="text-muted mt-3">A {{ likes_count }} usuario{{likes_count|pluralize:"s"}}
                    le{{likes_count|pluralize:"s"}}
                    ha{{likes_count|pluralize:"n"}} gustado este post.</p>
                {% endif %}
                <form action="{% url 'post-like' post.id %}" method="POST">
                    {% csrf_token %}
                    {% if user_has_liked %}
                    <button type="submit" class="btn btn-primary btn-sm">Ya no me gusta</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary btn-sm">Me gusta</button>
                    {% endif %}
                </form>

            </div>
            <h2 class="mt-1">{{ post.title }}</h2>
            {% if post.visual_content %}
            <img src="{{ post.visual_content.url }}" class="img-fluid mx-auto d-block" alt="Post Image" width="50%" />
            {% endif %}
            <p class="mt-4">{{ post.content }}</p>
        </div>

        <div class="col-12 mt-3">
            <h3>Comentarios ({{comments_count}})</h3>
            <div class="row mt-2">
                <div class="col-12">
                    {% for comment in comments %}
                    <div class="row border">
                        <div class="col-2 d-flex flex-column justify-content-center align-items-center mt-2">
                            {% if comment.user.id is author.id %}
                            <p style="font-size: 12px; margin-bottom: 5px; font-weight: bolder;">
                                {{ comment.user.username }} (Autor del post)</p>
                            {% else %}
                            <p style="font-size: 12px; margin-bottom: 5px;">{{ comment.user.username }}</p>
                            {% endif %}
                            {% if comment.user.profile_avatar and comment.user.profile_avatar.file %}
                            <img src="{{comment.user.profile_avatar.url}}" alt="User Logo"
                                style="width: 50px; height: 50px; border-radius: 50%;" id="profileAvatar">
                            {% else %}
                            <img src="{% static 'images/default-avatar.png' %}" alt="User Logo"
                                style="width: 50px; height: 50px; border-radius: 50%;" id="profileAvatar">

                            {% endif %}
                            <p style="font-size: 12px; margin-top: 5px;">{{ comment.comment_date|timesince }}</p>
                        </div>
                        <div class="col-10 d-flex justify-content-center flex-column">
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <div class=" row mt-2">
                        <div class="col-12">
                            {% if user.is_authenticated %}
                            <form action="{% url 'post-comment' post.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-2 d-flex justify-content-center align-items-center">
                                        <label for="comment">
                                            {% if user.profile_avatar and user.profile_avatar.file %}
                                            <img src="{{user.profile_avatar.url}}" alt="User Logo"
                                                style="width: 50px; height: 50px; border-radius: 50%;"
                                                id="profileAvatar">

                                            {% else %}
                                            <img src="{% static 'images/default-avatar.png' %}" alt="User Logo"
                                                style="width: 50px; height: 50px; border-radius: 50%;"
                                                id="profileAvatar">

                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="col-sm-8 d-flex justify-content-center align-items-center">
                                        <textarea class="form-control" id="comment" name="comment" rows="1"
                                            placeholder="Escribe un comentario" required minlength="10"></textarea>
                                    </div>
                                    <div class="col-sm-2 d-flex justify-content-center align-items-center">
                                        <button type="submit" class="btn btn-primary">Comentar</button>
                                    </div>
                                </div>
                            </form>
                            {% else %}
                            <p>Para comentar, <a href="{% url 'login' %}?next={{ request.path }}">inicia sesión</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}