{% extends "base.html" %}
{% load i18n %}

{% block title %}Detalles del juego{% endblock %}
{% block content %}

{% get_current_language as LANGUAGE_CODE %}

{% if LANGUAGE_CODE == "es-es" %}
<div class="alert alert-info text-center" role="alert">
    El apartado de descripción del juego ha sido traducido automáticamente al Español, por lo que es posible encontrarse
    incoherencias e inconsistencias.
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">{{game.name}}</h1>
            <div class="row p-1">
                {% if game.metacritic %}
                <div class="col-6 d-flex flex-column align-items-center">
                    <div class="text-center">
                        <h6>Metacritic</h6>
                        <article>{{game.metacritic}}/100</article>
                    </div>
                </div>
                {% else %}
                <div class="col-6 d-flex flex-column align-items-center">
                    <div class="text-center">
                        <h6>Metacritic</h6>
                        <article>No disponible</article>
                    </div>
                </div>
                {% endif %}

                {% if game.average_rating %}
                <div class="col-6 d-flex flex-column align-items-center">
                    <div class="text-center">
                        <h6>Valoración media</h6>
                        <article>{{game.average_rating}}/5</article>
                    </div>
                </div>
                {% else %}
                <div class="col-6 d-flex flex-column align-items-center">
                    <div class="text-center">
                        <h6>Valoración media</h6>
                        <article>No disponible</article>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


    {% if game.background_image %}
    <div class="row p-3">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <img src="{{ game.background_image }}" alt="{{ game.name }}" style="width: 75%; height: auto;">
        </div>
    </div>
    {% endif %}
    <div class="accordion" id="gameAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingDescription">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
                    Descripción
                </button>
            </h2>
            <div id="collapseDescription" class="accordion-collapse collapse" aria-labelledby="headingDescription"
                data-bs-parent="#gameAccordion">
                <div class="accordion-body">
                    {{ description }}
                </div>
            </div>
        </div>
        {% if game.publishers%}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingPublishers">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsePublishers" aria-expanded="false" aria-controls="collapsePublishers">
                    Distribuidoras
                </button>
            </h2>
            <div id="collapsePublishers" class="accordion-collapse collapse" aria-labelledby="headingPublishers"
                data-bs-parent="#gameAccordion">
                <div class="accordion-body">
                    <ul>
                        {% for publisher in game.publishers %}
                        <li style="margin-bottom: 5px;"><b>{{publisher.name}}</b></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingDevelopers">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseDevelopers" aria-expanded="false" aria-controls="collapseDevelopers">
                    Desarrolladores
                </button>
            </h2>
            <div id="collapseDevelopers" class="accordion-collapse collapse" aria-labelledby="headingDevelopers"
                data-bs-parent="#gameAccordion">
                <div class="accordion-body">
                    <ul>
                        {% for developer in game.developers %}
                        <li style="margin-bottom: 5px;"><b>{{developer.name}}</b></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingReleasedData">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseReleasedData" aria-expanded="false" aria-controls="collapseReleasedData">
                    Fecha de lanzamiento
                </button>
            </h2>
            <div id="collapseReleasedData" class="accordion-collapse collapse" aria-labelledby="headingReleasedData"
                data-bs-parent="#gameAccordion">
                <div class="accordion-body">
                    {{ game.released }}
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingPlatforms">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsePlatforms" aria-expanded="false" aria-controls="collapsePlatforms">
                    Disponible en las siguientes plataformas
                </button>
            </h2>
            <div id="collapsePlatforms" class="accordion-collapse collapse" aria-labelledby="headingPlatforms"
                data-bs-parent="#gameAccordion">
                <div class="accordion-body">
                    <ul>
                        {% for platform in game.platforms %}
                        <li>
                            <h5>{{ platform.name }}<h5>
                        </li>
                        <ul>
                            {%if platform.released_at%}
                            <li style="padding-bottom: 10px;">Fecha de salida: {{ platform.released_at }}
                            </li>
                            {% else %}
                            <li style="padding-bottom: 15px;">Fecha de salida desconocida</li>
                            {% endif %}
                            {% if platform.requirements %}
                            <li>Requerimientos</li>
                            <ul>
                                {% if platform.requirements.minimum %}
                                <li style="padding-bottom: 10px;"><b>Mínimo</b>:
                                    {{ platform.requirements.minimum|cut:"Minimum:"|linebreaksbr }}</li>
                                {% endif %}
                                {% if platform.requirements.recommended %}
                                <li style=" padding-bottom: 10px;"><b>Recomendado</b>:
                                    {{ platform.requirements.recommended|cut:"Recommended:"|linebreaksbr }}
                                </li>
                                {% endif %}
                                {% if not platform.requirements.minimum and not platform.requirements.recommended %}
                                <li style="padding-bottom: 10px;">No hay información sobre los requerimientos</li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </ul>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% if game.stores %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingStores">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseStores" aria-expanded="false" aria-controls="collapseStores">
                    Disponible en las siguientes tiendas
                </button>
            </h2>
            <div id="collapseStores" class="accordion-collapse collapse" aria-labelledby="headingStores"
                data-bs-parent="#gameAccordion">
                <div class="accordion-body">
                    <ul>
                        {% for store in game.stores %}
                        <li>
                            <h5>{{ store.store }}</h5>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}
        {% if game.genres %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingGenres">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseGenres" aria-expanded="false" aria-controls="collapseGenres">
                    Géneros destacados del videojuego
                </button>
            </h2>
            <div id="collapseGenres" class="accordion-collapse collapse" aria-labelledby="headingGenres"
                data-bs-parent="#gameAccordion">
                <div class="accordion-body">
                    <ul>
                        {% for genre in game.genres %}
                        <li>
                            <h5>{{ genre.name }}</h5>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        {% if game.tags %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTags">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTags" aria-expanded="false" aria-controls="collapseTags">
                    Características destacadas del videojuego
                </button>
            </h2>
            <div id="collapseTags" class="accordion-collapse collapse" aria-labelledby="headingTags"
                data-bs-parent="#gameAccordion">
                <ul>
                    {% for tag in game.tags %}
                    <li style="margin-top: 10px;">
                        <h5>{{ tag.name }}</h5>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% if game.esbr_ratings.name %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEsrb">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseEsrb" aria-expanded="false" aria-controls="collapseEsrb">
                    Clasificación ESRB
                </button>
            </h2>
            <div id="collapseEsrb" class="accordion-collapse collapse" aria-labelledby="headingEsrb"
                data-bs-parent="#gameAccordion">
                <div class="accordion-body">
                    <ul>
                        <li>
                            <h5>{{ game.esbr_ratings.name }}</h5>
                        </li>
                    </ul>
                </div>
            </div>

            {% endif %}


        </div>
    </div>
    {% endblock  %}