{% extends "base/base.html" %}
{% block title %}Recuperar contraseña{% endblock %}
{% block content %}
{% block navbar %}
{% include "navbars/navbar-registration.html" %}
{% endblock navbar %}
{% if messages %}
<ul class="messages text-center">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card" id="register-card">
                <div class="card-header">
                    <h4>Recuperar contraseña</h4>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <label for="email">Correo electrónico</label>
                        <input type="email" name="email" id="email" class="form-control mt-1" required>
                        <button type="submit" class="btn btn-primary mt-3">Recuperar contraseña</button>
                    </form>
                    <div class="mt-3">
                        <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">¡Inicia sesión!</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}