{% extends "base/base.html" %}
{% block title %}Verifica tu email{% endblock %}
{% block content %}
{% block navbar %}
{% include "navbars/navbar-registration.html" %}
{% endblock  %}
{% if messages %}
<ul class="messages text-center">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card" id="register-card">
                <div class="card-header">
                    <h3>Verifica tu email</h3>
                </div>
                <div class="card-body">
                    <p>Te damos la bienvenida a esta familia. Para acceder, introduce el código de verificación</p>
                    <form action="{% url 'verify' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="verification-code">Código de verificación</label>
                            <input type="number" name="verification-code" id="code" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Verificar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}