{% extends "base.html" %}
{% load static %}
{% block title %}Índice{% endblock  %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">¡Bienvenido a BCD-Games!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="text-center">¡Entérate del mundo de los videojuegos ya!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">¿Qué es BCD-Games?</h2>
            <p class="text-center">
                En BCD-Games, nos apasiona el mundo de los videojuegos y queremos compartir esa pasión contigo. Nuestra
                plataforma está diseñada para proporcionarte toda la información que necesitas sobre tus juegos
                favoritos y descubrir nuevas experiencias de juego emocionantes.
            </p>
        </div>
    </div>
    <div class="row">
        <h3 class="text-center">¿Qué puedes hacer en BCD-Games?</h3>
        <div class="col-4">
            <p class="text-center">
                Explora nuestra colección de opiniones y reseñas de usuarios, donde encontrarás comentarios honestos y
                perspicaces sobre una amplia variedad de videojuegos. Desde los últimos lanzamientos hasta los clásicos
                atemporales, nuestra comunidad está aquí para ayudarte a tomar decisiones informadas sobre qué jugar a
                continuación. Para acceder, se necesita una cuenta de usuario. <a href="{% url 'login' %}">¡Inicia
                    sesión o registrate para poder estar al día!</a>
            </p>
        </div>
        <div class="col-4">
            <p class="text-center">
                Utiliza nuestra función de búsqueda para encontrar información detallada sobre tus juegos favoritos.
                Desde la fecha de lanzamiento hasta las características del juego, estamos aquí para proporcionarte todo
                lo que necesitas saber para sumergirte en la experiencia de juego perfecta.
            </p>
        </div>
        <div class="col-4">
            <p class="text-center">
                ¡En BCD-Games nos emociona tanto el mundillo de los videojuegos que nos hemos atrevido a desarrollar un
                videojuego Flash por nuestra cuenta! Te recomendamos que lo pruebes y nos des tu opinión. ¡Esperamos que
                te diviertas tanto jugándolo como nosotros desarrollándolo!
            </p>
        </div>



    </div>
    {% endblock %}