{% extends "base/base.html" %}
{% load static %}

{% block title %}Editar perfil{% endblock %}
{% block content %}
{% block navbar %}
{% include "navbars/navbar.html" %}
{% endblock navbar %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Editar perfil</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <div class="col-12 d-flex justify-content-center">
                        {% if user.profile_avatar %}
                        <img id="output" src="{{ user.profile_avatar.url }}" width="300" class="mb-3">
                        {% else %}
                        <img id="output" width="300" class="mb-3">
                        {% endif %}
                    </div>
                    <label for="profile_avatar" class="btn btn-primary d-flex justify-content-center">Seleccionar
                        archivo</label>
                    <input type="file" class="form-control-file" id="profile_avatar" name="profile_avatar"
                        onchange="loadFile(event)" style="display: none;">
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{user.username}}"
                        required>
                </div>
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </form>
        </div>
    </div>
</div>
<script>
    var loadFile = function (event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // liberar memoria
        }
    };
</script>
{% endblock %}